*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    border: 5px solid orangered;  
}
section#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#hero h1{
    font-size: 3rem;
}
section#hero h2{
    font-size: 2rem;
}
section#hero img{
    width: 1%;

}

section#estudiosYHabilidades{
   display: flex;
   flex-wrap: wrap;
}